/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*impostazioni header e nav*/

.container{
    background-image: url(../img/jumbo.png );
    max-width: 1170px;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

.row-nav{
    height: 25px;
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col-logo{
    width: fit-content;
    height: 100%;    
    display: inline-block;
}

.col-logo > img{
    width: 85px;
}

.col-login{
    width: fit-content;
    border-radius: 15px;
    height: 100%;    
    display: inline-block;
    text-align: right;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.col-link{
    text-align: center;
    width: 60%;
    height: 100%;    
}

.item-nav-download{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    color: black;
    margin-left: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: bold;
}

.arrow::before{
    content: "\1F81B";
}

.item-nav-open{
    background-color: #23272a;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

/*impostazioni link e lista*/

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.item-nav-login{
    font-weight: bold ;
    color: black;
    font-size: 10px;
}

.item-nav-link{
    margin-top: 5px;
    color: white;
    padding-right: 25px;
    font-size: 11px;
}

/*impostazioni prima sezione main*/

.container-one-sez{
    background-image: url(../img/jumbo.png );
    background-size: cover;
    max-width: 1170px;
    height: 380px;
    display: flex;
    margin: 0 auto;
}

.row-one-sez{
    width: fit-content;
    height: 260px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col-one-sez{
    color: white;
    width: 100%;
    text-align: center;
}

/*impostazioni titolo principale e sotto-titolo*/

.title{
    margin-top: 15px;
    font-size:35px
}

.sub-title{
    margin-top: 30px;
    font-size: 13px;
    line-height: 22px;
}

/*impostazioni seconda sezione main*/

.container-two-sez{
    background-color: white;
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
}

.row-two-sez{
    width: 70%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.col60-two-sez{
    width: 60%;
    padding-right: 20px;
}

.image-one{
    width: 100%;
}

.col40-two-sez{
    width: 40%;
    margin: 20px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 60px ;
}

.title-two-sez{
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.sub-title-two-sez{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
}

/*impostazioni terza sezione main*/

.container-three-sez{
    background-color: #ececec;
    max-width: 1170px;
    height: 380px;
    display: flex;
    margin: 0 auto;
}

.row-three-sez{
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col60-three-sez{
    width: 60%;
    margin-left: 70px;
}

.image-two{
    width: 100%;
}

.col40-three-sez{
    width: 40%;
    padding-bottom: 30px;

}

/*impostazioni quarta sezione main*/

.container-four-sez{
    background-color: white;
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
}

.row-four-sez{
    width: 70%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.col60-four-sez{
    width: 60%;
    padding-right: 20px;
}

.item1{
    width: 100%;
}

.col40-four-sez{
    width: 40%;
    margin: 20px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 60px ;
}

.title-four-sez{
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.sub-title-four-sez{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
}

/*impostazioni quinta sezione main*/

.container-five-sez{
    background-color: #ececec;
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #d3d3d3;
}

.row-five-sez{
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.col-five-sez{
    width: 100%;
    text-align: center;
}

.subtitle-five-sez{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.item-nav-download-five-sez{
    background-color: #8ea1e1;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 100px;
    color: white;
    margin-left: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: bold;
}

/*impostazioni sesta sezione footer*/

.container-six-sez{
   
    background-color: #23272a;
    max-width: 1170px;
    display: flex;
    margin: auto;
}

.row-six-sez{
    padding-top: 50px;
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8ea1e1;
}

.col35-six-sez{
    margin-bottom: 35px;
    width: 35%;
    height: 250px;
}

.col65-six-sez{
    height: 250px;
    margin-bottom: 35px;
    width: calc(65% / 4)
}

.title-six-sez{
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #8ea1e1;
}

.image-ita{
    width: 16px;
    margin-right: 5px
}

.sub-title-ita{
    display: inline-block;
    color: white;
    font-size: 12px;
}

.italian-language{
    margin-top: 10px;
}

.social{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.container-social{
    height: 25px;
    margin-top: 10px;
}

.item-nav-link-title{
    margin-top: 5px;
    color: #8ea1e1;
    padding-right: 25px;
    font-size: 11px;
}

/*impostazioni navigatore del footer*/

.container-seven-sez{
    background-color: #23272a;
    max-width: 1170px;
    height: 100px;
    display: flex;
    margin: 0 auto;
} 

.row-seven-sez{
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin-bottom: 0;
    align-items: center;
}

.col-seven-sez{
    border: 1px dashed black;
    width: fit-content;
    height: fit-content; 
    display: flex;
    padding: 5px;
}

.col-registration{
    width: fit-content;
    border-radius: 15px;
    display: inline-block;
    text-align: right;
    background-color: #8ea1e1;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    padding-bottom: 5px;
}

.item-nav-registration{
    font-weight: bold ;
    color: white;
    font-size: 10px;
}

/*impostazioni di wawe*/

.wave-one{
    margin: auto;
    margin-top: 50px;
    max-width: 1170px;
    height: 50px;
    background-image: url(../img/wave.svg);
    background-size: auto 70px;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(4%) saturate(720%) hue-rotate(201deg) brightness(115%) contrast(85%);
}

.wave-two{
    margin: auto;
    max-width: 1170px;
    height: 50px;
    background-image: url(../img/wave.svg);
    background-size: auto 70px;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(4%) saturate(720%) hue-rotate(201deg) brightness(115%) contrast(85%);
    transform: rotate(3.142rad);
}

.wave-three{
    margin: auto;
    margin-top: 50px;
    max-width: 1170px;
    height: 50px;
    background-image: url(../img/wave.svg);
    background-size: auto 70px;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(4%) saturate(720%) hue-rotate(201deg) brightness(115%) contrast(85%);
}